.image img {
    max-width: 100%;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.container {
    width: calc(40vw * (9/16));
    margin-top: 5vh;
}

@media (max-width: 1200px) {
    .container {
        width: calc(50vw * (9/16));
    }
}

@media (max-width: 800px) {
    .container {
        width: calc(80vw * (9/16));
    }
}

.inner_con {
    background-color: #8AC5EA;
    min-width: 70%;
    display: block;
    margin-left: auto;
    margin-right: auto;
    border-radius: 25px;
    padding: max(2vh,16.233px);
    text-align: left;
    position: relative;

    color: black;
}

.source_code {
    padding-top: 1.2vh;
    text-align: center;
    font-size: clamp(0.5rem, 1vw, 1rem);
}

.name {
    padding-bottom: 1.2vh;
    font-size: clamp(0.7rem, 1.25vw, 1.5rem);
}

.category {
    color: #3E3E3E;
    font-size: clamp(0.5rem, 1vw, 1rem);
}


a:visited {
    color: #005B96;
}

a {
    color: #005B96;
}