.App {
  font-family: "Roboto Mono", sans-serif;
  position: relative;
  height: auto;
  background-color: #1A3343;
  min-height: 100% !important;
}

.spacer {
  min-height: 3vh;
}

.carousel {
  max-width: 50vw;
}

.content {
  width: 100vw;
  height: 100vh;
  background-image: url(/src/imgs/background.svg);
  background-color: #1A3343;
  background-repeat: no-repeat;
  background-size: cover;
  text-align: center;
  font-family: "Roboto Mono", sans-serif;
  overflow: hidden;
}

.main-content {
  position: absolute;
  top: 50%;
  left: 50%;
  margin: 0;
  transform: translate(-50%, -50%);
}

.title {
  color: white;
  font-size: x-large;
  text-decoration: underline;
}

.navbar {
  display: inline-block;
  vertical-align: middle;

  font-size: larger;
  z-index: 1;
}

.nav-left {
  position: absolute;
  top: 1vh;
  left: 1vw;
}

.nav-right {
  position: absolute;
  top: 1vh;
  right: 1vw;
}

.navbar ul {

  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
}

.navbar li {
  float: left;
}

.navbar li a {
  display: block;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

.navbar li a:hover {
  color: #111;
}